* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.5em;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

intro-section {
  display: block;
  margin-bottom: 64px;
}

advantages-section {
  display: block;
  margin-bottom: 128px;
}

rules-section {
  display: block;
  margin-bottom: 128px;
}
