* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.5em;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

intro-section {
  display: block;
  margin-bottom: 64px;
}

advantages-section {
  display: block;
  margin-bottom: 128px;
}

rules-section {
  display: block;
  margin-bottom: 128px;
}

@keyframes shiftColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(90deg);
  }
}

@keyframes shiftOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

footer {
  & .background {
    position: relative;
    width: 100%;
    height: 800px;

    & img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      &:nth-child(1) {
        animation: shiftColor 2s linear infinite alternate, shiftOpacity 4s linear infinite alternate;
      }
      &:nth-child(2) {
        animation: shiftColor 3s linear infinite alternate, shiftOpacity 3.5s linear infinite alternate;
      }
      &:nth-child(3) {
        animation: shiftColor 4s linear infinite alternate, shiftOpacity 4s linear infinite alternate;
      }
      &:nth-child(4) {
        animation: shiftColor 3.5s linear infinite alternate, shiftOpacity 2s linear infinite alternate;
      }
      &:nth-child(5) {
        animation: shiftColor 2.5s linear infinite alternate, shiftOpacity 3s linear infinite alternate;
      }
      /* &:nth-child(6) {
        animation: shiftColor 1.5s linear infinite alternate, shiftOpacity 4.5s linear infinite alternate;
      } */
      &:last-child {
        top: 0;
      }
    }
  }
}